<div class="options previous center">
    <a class="see" ng-click="fetchLess()">{{'PREVIOUS_MONTH' | translate}}</a>
</div>

<section class="month-container" ng-repeat="month in months">
    <header>
        <h1>{{month.date | date:'MMMM yyyy'}}</h1>
    </header>
    <div class="admin-month" ng-show="!month.previous_month">
        <button type="button" class="btn btn-default" ng-click="createCrenel(month.date)">NEW CRENEL</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="alert center" role="alert" ng-show="!month.days.length">{{'NO_SCHEDULED_EVENT'| translate}}</div>
            <div ng-repeat="day in month.days" class="day-container col-md-2">
                <header ng-class="{'today': day.date === now()}">
                    <h2>{{day.date | date:"EEEE dd"}}</h2>
                    <div class="admin-day btn-group btn-group-sm" ng-show="!month.previous_month">
                        <button type="button" class="btn btn-default" ng-click="createCrenel(day.date)">NEW CRENEL</button>
                    </div>
                </header>
                <section ng-repeat="crenel in day.crenels">
                    <header>
                        <h2>{{crenel.name}}</h2>
                        <h3>{{crenel.time_begin | limitTo:5}} - {{crenel.time_end | limitTo:5}}</h3>
                        <h4>{{crenel.location}}</h4>
                        <h4 class="postpone" ng-show="isPostponed(crenel)">{{'POSTPONED' | translate}}</h4>
                        <h4 class="postpone" ng-show="isCancelled(crenel)">{{'CANCELLED' | translate}}</h4>
                    </header>
                    <div ng-class="getEventColor(crenel)" data-title="{{crenel.places - crenel.places_subscribed}} {{'PLACES_LEFT' | translate}}" data-placement="left" bs-tooltip>
                        <span data-toggle="tooltip">{{crenel.places_subscribed}}</span>
                    </div>
                    <footer>
                        <a class="more" ng-click="updateCrenel(crenel)">EDIT</a>
                    </footer>
                </section>
            </div>
        </div>
    </div>
</section>

<div class="options center" ng-show="has_more">
    <a class="see" ng-click="fetchMore()">{{'NEXT_MONTH' | translate}}</a>
</div>
