<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h1 class="modal-title"><span ng-class="getEventInfoColor(crenel)"></span> {{crenel.name}}</h1>
            </div>
            <div class="modal-body">         
                <h2>{{'PRACTICAL_INFORMATION' | translate}}</h2>              
                <ul class="list-group">                    
                    <li class="list-group-item postpone" ng-show="isCancelled(crenel)"><strong>Annulé</strong> : {{crenel.reason}}</li>                      
                    <li class="list-group-item postpone" ng-show="isPostponed(crenel)"><strong>Reporté</strong> : {{crenel.reason}}</li> 
                    <li class="list-group-item"><label>Date</label> {{crenel.date| date:'fullDate'}}</li>
                    <li class="list-group-item"><label>{{'TIMESLOT' | translate}}</label> {{crenel.time_begin| limitTo:5}} - {{crenel.time_end| limitTo:5}}</li>                                
                    <li class="list-group-item"><label>{{'LOCATION' | translate}}</label> {{crenel.location}}</li>                                                                   
                </ul>

                <section ng-show="crenel.resume">
                    <h2>Description</h2>                    
                    <p ng-bind-html="crenel.resume | noHTML | newlines"></p>
                </section>

                <section ng-show="isActive(crenel)">             
                    <h2>Participants</h2>
                    <p ng-show="isBookable(crenel)">Il reste {{crenel.places - crenel.places_subscribed}} places libres pour un total de {{crenel.places}} places.</p>                         
                    <p ng-show="!isBookable(crenel)">Les {{crenel.places}} places disponibles sont toutes réservées.</p>  
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="subscription in subscriptions">
                            <span class="glyphicon glyphicon-user"></span> 
                            <span class="username">{{subscription.firstname}} {{subscription.lastname}}</span> 
                            <span class="subscription-status">{{getSubscriptionStatus(subscription.status)}}</span>
                        </li>
                    </ul>
                </section>

                <section ng-show="isActive(crenel) && isBookable(crenel)">
                    <h2>Je m'inscris à cet événement</h2>
                    <form name="form_signup" role="form" novalidate>
                        <div class="form-group">
                            <label>Nom *</label>
                            <input type="text" class="form-control" ng-model="user_signup.lastname" required date>
                        </div>                                   
                        <div class="form-group">
                            <label>Prénom *</label>
                            <input type="text" class="form-control" ng-model="user_signup.firstname" required>
                        </div>                                     
                        <div class="form-group">
                            <label>Adresse mél *</label>
                            <input type="email" class="form-control" name="signup_email" ng-model="user_signup.email" required>
                            <span class="form-error" ng-show="form_signup.signup_email.$error.email">Cette adresse mél n'est pas valide.</span>
                        </div>

                        <div class="panel panel-default" ng-show="isFamilyEvent(crenel)">      
                            <div class="panel-heading">
                                <h4>Informations complémentaires</h4>
                            </div>
                            <div class="panel-body">
                                <div class="checkbox checkbox-padding">
                                    <label>
                                        <input type="checkbox" ng-model="user_signup.family.with_someone"> Je viens avec un(e) conjoint(e)
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <span class="input-group-addon">Enfant 1 Prénom</span>
                                            <input type="text" class="form-control" ng-model="user_signup.family.child_firstname1">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">Anniversaire</span>
                                            <input type="text" class="form-control" ng-model="user_signup.family.child_birthday1" bs-datepicker>
                                        </div>
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <span class="input-group-addon">Enfant 2 Prénom</span>
                                            <input type="text" class="form-control" ng-model="user_signup.family.child_firstname2">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">Anniversaire</span>
                                            <input type="text" class="form-control" ng-model="user_signup.family.child_birthday2" bs-datepicker>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <span class="input-group-addon">Enfant 3 Prénom</span>
                                            <input type="text" class="form-control" ng-model="user_signup.family.child_firstname3">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">Anniversaire</span>
                                            <input type="text" class="form-control" ng-model="user_signup.family.child_birthday3" bs-datepicker>
                                        </div>
                                    </div>
                                </div>     
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <span class="input-group-addon">Enfant 4 Prénom</span>
                                            <input type="text" class="form-control" ng-model="user_signup.family.child_firstname4">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">Anniversaire</span>
                                            <input type="text" class="form-control" ng-model="user_signup.family.child_birthday4" bs-datepicker>
                                        </div>
                                    </div>
                                </div>                                 
                            </div>                          
                        </div>

                        <button class="btn btn-success" ng-disabled="form_signup.$invalid" ng-click="signup()">S'INSCRIRE</button>
                        <span class="form-notice help-block">* Obligatoire</span>
                    </form>                    
                </section>

                <section ng-show="isActive(crenel)">
                    <h2>Je me désinscris de cet événement</h2>
                    <form name="form_withdraw" role="form" novalidate>
                        <div class="form-group">
                            <label>Adresse mél *</label>
                            <input type="email" class="form-control" name="withdraw_email" ng-model="user_withdraw.email" required>
                            <span class="form-error" ng-show="form_withdraw.withdraw_email.$error.email">Cette adresse mél n'est pas valide.</span>
                        </div>                               
                        <div class="form-group">
                            <label>Motif</label>
                            <textarea class="form-control" rows="3" ng-model="user_withdraw.reason"></textarea>
                        </div>                           
                        <button class="btn btn-warning" ng-disabled="form_withdraw.$invalid" ng-click="withdraw()">SE DESISTER</button>                         
                        <span class="form-notice help-block">* Obligatoire</span>                                
                    </form>                     
                </section>                                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">FERMER</button>
            </div>
        </div>
    </div>
</div>
